body {
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead-intro,
.masthead-heading,
.section-footer {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  border-top: 1em solid orange;
  background-image: url('http://bit.ly/1DjbwMq');
  background-size: cover;
  background-repeat: no-repeat;
}

.masthead-intro {
  margin-bottom: 0.1em;
  color: #FFF1C2;
  line-height: 100%;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
}

.masthead-heading {
  margin-top: -0.2em;
  color: orange;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 6em;
  text-transform: uppercase;
  text-shadow: 0.02em 0.02em #FFF1C2; 
}

.section-introduction,
.section-experience {
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  margin-top: 2em;
}

.section-introduction > p,
.section-experience > p,
.section-footer > p {
  font-weight: 300;
  letter-spacing: 0.002em;
}

.section-footer {
  margin-top: 4em;
  padding: 3em 0;
  color: white;
  background-color: #594F49;
}

.social > li {
  display: inline-block;
  padding: 0 3em;
}

h3 {
  font-family: "Gentium Book Basic", Georgia, serif;
  font-weight: bold;
  color: orange;
}

a {
  font-weight: bold;
  color: orange;
  text-decoration: none;
}
